.container {
  background-color: #f1f1f4;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 30px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
}

.agent {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.location {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
