.infoContainer {
  margin-top: 5%;
  border: 1px grey solid;
  line-height: 30px;
  padding: 20px;
}

.brokerContainer {
  display: flex;
  justify-content: space-evenly;
}

.cellphoneNumberContainer {
  display: flex;
  justify-content: space-evenly;
}

.brokerphoneNumberContainer {
  display: flex;
  justify-content: space-evenly;
}

.websiteContainer {
  display: flex;
  justify-content: space-evenly;
}

.usernameContainer {
  display: flex;
  justify-content: space-evenly;
}

.membersinceContainer {
  display: flex;
  justify-content: space-evenly;
}
