.container {
  margin-left: 20%;
  margin-right: 20%;
  display: grid;
  grid-template-columns: 60% 40%;
}

.col1 {
  width: 100%;
  /* background-color: gray;
  height: 500px; */
}

.col2 {
  width: 100%;
  /* background-color: aliceblue;
  height: 400px; */
}
